/* ==== Eric Meyer's reset css ==== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==== Global Styles ==== */
a img {
  border: none;
}

/* Gets rid of IE's blue borders */
a:focus {
  outline: none;
}

a,
li,
p,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 0.9em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

div {
  display: block;
}

li {
  list-style: none;
}

.clear {
  clear: both;
}

a.read_more {
  color: #4169e1;
}

a.read_more:hover {
  border-bottom: 1px dashed;
}

* {
  transition: all 0.5s;
}
*:focus {
  box-shadow: 0px 0px 10px 10px yellowgreen;
  border-radius: 5px;
}
/* ==== Body ==== */
body {
  background: url("http://res.cloudinary.com/dsh8uhpna/image/upload/v1458117625/portfolio/grunge_light_blue.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-origin: border-box;
  background-clip: border-box;
}

/* ==== outer div (wrapper) ==== */
#wrapper {
  max-width: 960px;
  margin: 50px auto;
  padding: 1em;
  display: flex;
  flex-flow: column;
}

/* ==== header ==== */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div#logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* ==== Logo Image ==== */
#logo img {
  width: 70px;
  height: 70px;
  padding-top: 0px;
  padding-right: 10px;
  padding-left: 3px;
  padding-bottom: 0px;
  margin: 0px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* ==== Logo Title ==== */
#logo #title {
  text-align: left;
  vertical-align: baseline;
  letter-spacing: 0.1em;
  margin: 0px;
  padding: 0 0.5em;
  font-size: 3em;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#title a {
  color: #c4d92e;
  padding: 0px;
  margin: 0px;
}

#title a span {
  color: #fff;
  margin: 0 0.1em 0 0;
}

#title a:hover span {
  color: #c4d92e;
}

#title a:hover {
  color: #fff;
}

/* ==== Social Buttons ==== */
nav.social-buttons {
  margin: 1em 1.5em 0 0;
  padding: 0px;
}

ul#social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

ul#social-buttons img {
  width: 35px;
  height: 35px;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  border-radius: 50%;
}

ul#social-buttons img:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=70);
}

/* ==== Main Content ==== */
#main {
  background-image: url("http://res.cloudinary.com/dsh8uhpna/image/upload/v1458117619/portfolio/blacktrans.png");
  padding: 1em;
}

article#content {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/* ==== Left Column ==== */
section#left-column {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-flow: column;
  flex: 0 1 40%;
  justify-content: flex-start;
}

div#intro-text p {
  padding: 0 1em 0 0;
  font-size: 1em;
}

a.first_word {
  color: #c4d92e;
  font-size: x-large;
}

div#skills {
  margin-top: 1em;
}

div#skills h3 {
  margin: 0px;
  padding-bottom: 1em;
}

div#skills p {
  margin: 0px;
  padding: 10px 0 0 0;
}

/* ==== Right Column ==== */
section#right-column {
  display: flex;
  flex-flow: column;
  flex: 0 0 60%;
}

section#right-column h3 {
  letter-spacing: 0.1em;
}

div#slider {
  background-image: url("http://res.cloudinary.com/dsh8uhpna/image/upload/v1458117619/portfolio/blacktrans.png");
}

div#slider #slider_img {
  width: 100%;
  height: 189px;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

div#slider #slider_img:hover {
  opacity: 0.7;
  -moz-opacity: 1;
  filter: alpha(opacity=70);
}

/* ==== Lower Columns ==== */
div#lower-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ==== project ==== */
div#project {
  flex: 2 0 0;
}

ul#project_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 0 0 0;
}

div#project h3 {
  margin: 0px;
  padding: 10px 0;
  line-height: 0;
}

#project_box li a {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}

#project_box li a:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

#project_box li a img {
  width: 50px;
  height: 50px;
  flex: 1 0 25%;
  margin: 0 0.9em 0.5em 0;
  border: 1px dashed #c4d92e;
}

/* ==== Get in Touch - Contact Form ==== */

div#get_in_touch {
  flex: 1 0 0;
  min-width: 185.5px;
  position: relative;
}

div#get_in_touch h3 {
  text-align: left;
  margin: 0;
  padding: 10px 0 0 0;
}

ul#contact_list {
  text-align: left;
  padding: 10px 0 0 0;
}

ul#contact_list li {
  list-style: none;
  margin: 0;
  padding: 0 0 10px 0;
}

/* The following two rules overide the default google chrome autofill behaviour */
#name:-webkit-autofill,
#email:-webkit-autofill,
#message:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
  color: #c4d92e !important;
  background-image: none !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

#name:-webkit-autofill:hover,
#email:-webkit-autofill:hover,
#message:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover {
  background-image: url("http://res.cloudinary.com/dsh8uhpna/image/upload/v1458117619/portfolio/blacktrans.png") !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

ul#contact_list li #name,
#email,
#message,
#send {
  background-color: transparent;
  /*background-image:url('http://res.cloudinary.com/dsh8uhpna/image/upload/v1458117619/portfolio/blacktrans.png');*/
  color: #c4d92e;
  letter-spacing: 0.2em;
  border: 1px dashed;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

#name,
#email,
#message {
  width: 100%;
}

ul#contact_list li #name:hover,
#email:hover,
#message:hover,
#send:hover {
  background-image: url("http://res.cloudinary.com/dsh8uhpna/image/upload/v1458117619/portfolio/blacktrans.png");
}

ul#contact_list li #message {
  overflow: hidden;
  /* hiddes the scroll bar from IE */
}

legend {
  color: white;
}

::-webkit-input-placeholder {
  color: #c4d92e;
  padding-left: 0.9em;
}

/* Firefox 18- */
:-moz-placeholder {
  color: #c4d92e;
  padding-left: 0.9em;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: #c4d92e;
  padding-left: 0.9em;
}

:-ms-input-placeholder {
  color: #c4d92e;
  padding-left: 0.9em;
}

#message {
  text-indent: 0.9em;
}

#send {
  border: 1px dashed;
  color: #c4d92e;
  margin: 0 0 0 0;
  padding: 0.2em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 0.8em;
}

#send:hover {
  background-image: url("http://res.cloudinary.com/dsh8uhpna/image/upload/v1458117619/portfolio/blacktrans.png");
  color: #fff;
}

.form-message {
  position: absolute;
  color: #c4d92e;
  font-size: 1.2em;
  text-align: center;
  margin: 0.5em auto;
}

/* ==== Footer ==== */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  margin-left: 1em;
}

footer a {
  color: #c4d92e;
  font-size: 1.2em;
}

footer a:hover {
  background-image: url("http://res.cloudinary.com/dsh8uhpna/image/upload/v1458117619/portfolio/blacktrans.png");
  color: #fff;
}

@media screen and (max-width: 815px) {
  #modal-header {
    flex-flow: column;
  }

  h2#project-name {
    order: 2;
  }

  nav#modal-navigation {
    order: 1;
    margin-bottom: 0.5em;
    justify-content: flex-start;
  }

  #vertical-offset {
    top: 0;
  }

  div#dumbBox {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    height: 350px;
    overflow-y: scroll;
  }

  header#modal-header {
    display: block;
  }

  h2#project-name {
    margin-bottom: 0.5em;
  }

  #project-image {
    width: 100%;
    height: 100%;
    float: none;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  header {
    margin: 0 0.5em;
  }

  nav.social-buttons {
    margin: 1em 1.5em 0 0.4em;
  }

  article#content {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  section#right-column {
    order: 1;
    justify-content: center;
  }

  section#left-column {
    order: 2;
    justify-content: center;
  }

  div#lower-columns {
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  ul#project_box li {
    flex: 0 0 20%;
  }

  div#intro-text {
    margin-top: 2em;
  }

  #vertical-offset {
    top: 0;
  }

  div#dumbBox {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    height: 350px;
    overflow-y: scroll;
  }

  header#modal-header {
    display: block;
  }

  h2#project-name {
    margin-bottom: 0.5em;
  }

  #project-image {
    /* width: 100%; */
    float: none;
    margin: 0 auto;
  }
}

/* END @media screen and (max-width: 600px) */

@media screen and (max-width: 600px) and (orientation: landscape) {
  article#content {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  section#right-column {
    order: 1;
    justify-content: center;
  }

  section#left-column {
    order: 2;
    justify-content: center;
  }

  div#dumbBox {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    height: 290px;
    overflow-y: scroll;
  }

  img#project-image {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0;
    padding: 0;
  }

  header#modal-header {
    display: block;
  }

  h2#project-name {
    margin-bottom: 0.5em;
  }
}

/* For iPhone 5 -> http://stackoverflow.com/questions/12539697/iphone-5-css-media-query */
@media screen and (device-aspect-ratio: 40/71) {
  div#logo {
    justify-content: flex-start;
  }
}

/************************************************
************** Modal Dialog Box *****************
************************************************/
#dumbBoxWrap {
  /* The div that shows/hides. */
  display: none;
  /* starts out hidden */
  z-index: 40001;
  /* High z-index to ensure it appears above all content */
}

#dumbBoxOverlay {
  /* Shades out background when selector is active */
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  /* Sets opacity so it's partly transparent */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE transparency */
  filter: alpha(opacity=50);
  /* More IE transparency */
  z-index: 40001;
}

#vertical-offset {
  /* Fixed position to provide the vertical offset */
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 40002;
  /* ensures box appears above overlay */
}

#dumbBox {
  /* The actual box, centered in the fixed-position div */
  width: 80%;
  /* Whatever width you want the box to be */
  position: relative;
  margin: 0 auto;
  /* Everything below is just visual styling */
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  font-family: cursive;
  overflow: hidden;
  z-index: 40003;
}

#project-image {
  float: left;
  padding-right: 1em;
  padding-bottom: 1em;
}

#modal-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2#project-name {
  color: black;
}

#close-modal {
  margin-left: 0.5em;
}

#right-arrow {
  margin-left: 0.5em;
}

#close-modal,
#left-arrow,
#right-arrow {
  color: #4169e1;
  cursor: pointer;
}

#close-modal:hover,
#left-arrow:hover,
#right-arrow:hover {
  color: #c4d92e;
}

p#project-description {
  color: black;
}

a#project-url {
  color: #4169e1;
  text-decoration: underline;
  font-size: 0.8em;
}

a#project-url:hover {
  color: black;
  text-decoration: none;
  font-size: 0.9em;
}

/*
http://tympanus.net/Tutorials/ExpandingOverlayEffect/
http://www.oriongunning.com/demo/gridder/
http://www.anowave.com/factory/anoslide/demo.html
http://www.sequencejs.com/themes/modern-slide-in/
http://tympanus.net/Development/FullscreenLayoutPageTransitions/
http://tympanus.net/codrops/2014/02/06/fullscreen-overlay-effects/
*/
