vti_encoding:SR|utf8-nl
vti_author:SR|HOME-8CAEAC8040\\DM
vti_modifiedby:SR|CODE-PAL\\Sumeet
vti_timelastmodified:TR|16 Jul 2010 15:07:33 -0000
vti_timecreated:TR|01 Jun 2010 12:20:49 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|index.html
vti_nexttolasttimemodified:TW|16 Jul 2010 15:07:31 -0000
vti_cacheddtm:TX|16 Jul 2010 15:07:33 -0000
vti_filesize:IR|4915
vti_cachedlinkinfo:VX|S|../images/bg-shade.png S|../images/body_bg.jpg S|../images/list_bg.png S|../images/img.jpg S|../images/flickr-box.png
vti_cachedsvcrellinks:VX|FSUS|images/bg-shade.png FSUS|images/body_bg.jpg FSUS|images/list_bg.png FSUS|images/img.jpg FSUS|images/flickr-box.png
